*{
    padding: 0;
    margin: 0;
}

body{
    margin: 50px;
    background-color: black;
}

#game{
    width: 500px;
    height: 200px;
    margin: auto;
}

#character {
    width: 20px;
    height: 50px;
    background-color: #5e9e72;
    position: relative;
    top: 150px;
}

.animate{
    animation: jump 500ms ;
}

@keyframes jump{
    0%{top:150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
    animation-delay: 2s;
}

@keyframes block{
    0%{left:480px;}
    100%{left:-10px;}
}

h1{
    color: #767676;
    font-family: sans-serif;
    font-weight: normal;
    font-size: small;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2cm;
}